<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="container" *ngIf="listOfFavoriteMovies &&listOfFavoriteMovies.length >0">
  <h1 class="movies-title" >Favorite Movies</h1>
  <br>
  <div class="list" *ngFor="let movie of listOfFavoriteMovies| movieFilter: inputFilter">
    <div [routerLink]="['/movie-details', movie.id]">
      <img [src]="'https://image.tmdb.org/t/p/w200/'+movie.poster_path">
      <h2 class="title">{{movie.title| slice:0:18}}</h2>
    </div>
  </div>
</div>

<div class="container" *ngIf="listOfFavoriteMovies &&listOfFavoriteMovies.length >0">
  <h1 class="movies-title" >Favorite Movies</h1>
  <br>
  <div class="list" *ngFor="let movie of listOfMovies | movieFilter: inputFilter">
    <div class="favorite" (click)="addToFavoriteList($event,movie)">
      <mat-icon>home</mat-icon>
    </div>
    <div [routerLink]="['/movie-details', movie.id]">
      <img [src]="'https://image.tmdb.org/t/p/w200/'+movie.poster_path">
      <h2 class="title">{{movie.title| slice:0:18}}</h2>
    </div>
  </div>
</div>

